.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__timer {
    font-size: 30px;
    font-weight: bold;
}

.main__button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 34px;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
}

.main__button:hover {
    background-color: rgb(221, 221, 221);
}

.main__button:active {
    background-color: rgb(240, 240, 240);
}
