.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.main__timer {
    font-size: 30px;
    font-weight: bold;
}

.main__button {
    width: 200px;
    height: 200px;
    margin: 20px 0;
    border-radius: 50%;
    font-size: 34px;
    font-weight: bold;
    background-color: rgb(230, 230, 230);

    &--pause{
        height: 40px;
    border-radius: 0;
    font-size: 24px;
    margin: 0;
    }
}

.main__button:hover {
    background-color: rgb(221, 221, 221);
}

.main__button:active {
    background-color: rgb(240, 240, 240);
}

.main__controls{

  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
