.title {
    height: 60px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    border-radius: 20px;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    justify-content: center;

    &--mobile {
        justify-content: space-between;
        margin: 10px;
    }
}