@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/roboto.woff);
  src: url(../fonts/roboto.woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/robotomedium.woff);
  src: url(../fonts/robotomedium.woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/robotobold.woff);
  src: url(../fonts/robotobold.woff2);
}